<div class="container">  
  <h3 class="form-group">Veuillez entrer les détails de votre nouvel évènement</h3>

    <%= form_with model: @event, method: :post do |f| %>
      <div class="form-group">
        <%= f.label :name, "Indiquez le nom" %>
        <%= f.text_field :name, class:"form-control", placeholder:"(32 caractères maximum)" %>
      </div>
      <div class="form-group">
        <%= f.label :description, "Ajoutez une description" %>
        <%= f.text_area :description, class:"form-control" %>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <%= f.label :start_date, "Indiquez le début de l'évènement" %>
            <%= f.date_select :start_date, class:"form-control" %>
          </div>
          <div class="col">
            <%= f.label :end_date, "Indiquez la date de fin" %>
            <%= f.date_select :end_date, class:"form-control" %>
          </div>
        </div>
      </div>
          <div class="form-group">
        <%= f.submit class:"btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>

  <p><%= link_to "Retour à l'accueil", root_path %></p>
</div>